body{
    margin: 0 auto;
}

input{
    width: 30%;
    padding-top: 20px;
    margin-top: 20px;
}

label{
    padding-top: 20px;
}

.container{
    width: 750px;
}

.btn{
    margin-bottom: 20px;
}

select{
    margin-top: 20px;
}

h1{
    margin-top: 20px;
    text-align: center;
}